# Application
NODE_ENV=production
PORT=3000

# Database
DB_HOST=nodeapp-3tierdb.cjmyauyayakc.ap-south-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=nodeapp-db
DB_USER=root
DB_PASSWORD=root

# AWS Configuration
AWS_REGION=ap-south-1
